<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>Reg</servlet-name>
        <servlet-class>servlets.RegServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reg</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>servlets.SignInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>bookList</servlet-name>
        <servlet-class>servlets.BooksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bookList</servlet-name>
        <url-pattern>/bookList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>searchBook</servlet-name>
        <servlet-class>servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchBook</servlet-name>
        <url-pattern>/searchBook</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>servlets.AddBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/AddBook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserAcc</servlet-name>
        <servlet-class>servlets.UserAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAcc</servlet-name>
        <url-pattern>/UserAcc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrderUserBook</servlet-name>
        <servlet-class>servlets.GetOrderUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderUserBook</servlet-name>
        <url-pattern>/OrderUserBook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SetAcсessServlet</servlet-name>
        <servlet-class>servlets.SetAccessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetAcсessServlet</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>wait</servlet-name>
        <servlet-class>servlets.SetAccessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>wait</servlet-name>
        <url-pattern>/wait</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>subscription</servlet-name>
        <servlet-class>servlets.SetAccessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>subscription</servlet-name>
        <url-pattern>/subscription</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>readRoom</servlet-name>
        <servlet-class>servlets.SetAccessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>readRoom</servlet-name>
        <url-pattern>/readRoom</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getUsers</servlet-name>
        <servlet-class>servlets.GetOrderUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getUsers</servlet-name>
        <url-pattern>/getUsers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>servlets.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RedBook</servlet-name>
        <servlet-class>servlets.RedBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedBook</servlet-name>
        <url-pattern>/redBook</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteBook</servlet-name>
        <servlet-class>servlets.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteBook</servlet-name>
        <url-pattern>/deleteBook</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addBook</servlet-name>
        <servlet-class>servlets.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addBook</servlet-name>
        <url-pattern>/addBook</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RedLibr</servlet-name>
        <servlet-class>servlets.GetLibrAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedLibr</servlet-name>
        <url-pattern>/redLibr</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddLibr</servlet-name>
        <servlet-class>servlets.GetLibrAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddLibr</servlet-name>
        <url-pattern>/addLibr</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteLibr</servlet-name>
        <servlet-class>servlets.GetLibrAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteLibr</servlet-name>
        <url-pattern>/deleteLibr</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetUsersAdmin</servlet-name>
        <servlet-class>servlets.GetUsersAdm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUsersAdmin</servlet-name>
        <url-pattern>/getUsersAdm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SetBanUser</servlet-name>
        <servlet-class>servlets.GetUsersAdm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetBanUser</servlet-name>
        <url-pattern>/setBan</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UnBanUser</servlet-name>
        <servlet-class>servlets.GetUsersAdm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnBanUser</servlet-name>
        <url-pattern>/unBan</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SetLanguage</servlet-name>
        <servlet-class>servlets.LanguageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetLanguage</servlet-name>
        <url-pattern>/setLang</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReturnBook</servlet-name>
        <servlet-class>servlets.UserAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReturnBook</servlet-name>
        <url-pattern>/returnBook</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>listner.StartAppListner</listener-class>
    </listener>
    <filter>
        <filter-name>SignupFilter</filter-name>
        <filter-class>filter.SignupFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SignupFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
</web-app>